@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  padding-top: 51px;
}
header .container {
  max-width: 1257px;
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container .left .logo1 {
  display: flex;
  align-items: center;
  gap: 18px;
}
header .container .left .logo1 h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 51px;
  height: 51px;
  border-radius: 50%;
  font-size: 25px;
  font-weight: 600;
  color: #ffffff;
  background-color: #ff8a00;
  font-family: "Poppins", sans-serif;
}
header .container .left .logo1 h4 {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
}
header .container .left .logo1 h4 span {
  color: #ff8a00;
}
header .container .middle ul {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  display: flex;
  gap: 45px;
  list-style: none;
}
header .container .middle ul li {
  font-family: "Poppins", sans-serif;
  color: #311f09;
}
header .container .middle ul li:hover {
  color: #ff8a00;
}
header .container .right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container .right .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(208, 204, 199, 0.262745098);
  position: relative;
  margin-right: 25px;
}
header .container .right .logo .h3 {
  width: 16px;
  height: 16px;
  font-size: 10px;
  font-weight: 500;
  border: 1px solid red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff3838;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 7px;
  right: 5px;
}
header .container .right button {
  width: 112px;
  height: 50px;
  border-radius: 133px;
  border: none;
  background-color: #3fa72f;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 300ms ease;
}
header .container .right button:hover {
  opacity: 85%;
}
header .container .right button:active {
  scale: 1.05;
}

.hero {
  margin-top: 120px;
}
.hero .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1257px;
  padding: 0 10px;
  margin: 0 auto;
}
.hero .container .left .text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 152px;
  height: 40px;
  border-radius: 126px;
  background-color: rgba(255, 136, 0, 0.1647058824);
  font-size: 18px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  color: #ff8a00;
}
.hero .container .left h1 {
  font-size: 80px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  line-height: 110%;
  margin-top: 22px;
}
.hero .container .left p {
  font-size: 20px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #5c4529;
  line-height: 200%;
  margin-top: 30px;
  max-width: 523px;
}
.hero .container .left .buttons {
  display: flex;
  gap: 23px;
  margin-top: 77px;
}
.hero .container .left .buttons button {
  width: 232px;
  height: 74px;
  border-radius: 163px;
  border: none;
  cursor: pointer;
  transition: all 300ms ease;
}
.hero .container .left .buttons button:hover {
  opacity: 85%;
}
.hero .container .left .buttons button:active {
  scale: 1.05;
}
.hero .container .left .buttons button:first-child {
  background-color: #ff8a00;
  font-size: 20px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}
.hero .container .left .buttons button:last-child {
  background-color: #3fa72f;
  font-size: 20px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}
.hero .container .right {
  width: 700px;
  height: 620px;
}
.hero .container .right img {
  width: 100%;
  height: 100%;
  margin-top: 55px;
}

.delicacy {
  margin-top: 147px;
  background-color: rgba(63, 198, 110, 0.1333333333);
}
.delicacy .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  padding: 0 10px;
  margin: 0 auto;
}
.delicacy .container .left {
  margin-top: 120px;
}
.delicacy .container .left img {
  width: 100%;
  height: 100%;
}
.delicacy .container .right h1 {
  font-size: 80px;
  font-weight: 700;
  font-family: "Tinos", serif;
  color: #311f09;
  line-height: 110%;
}
.delicacy .container .right h1 span {
  font-size: 80px;
  font-weight: 700;
  font-family: "Tinos", serif;
  color: #ff8a00;
  line-height: 110%;
}
.delicacy .container .right p {
  font-size: 20px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #5c4529;
  line-height: 200%;
  margin-top: 60px;
  max-width: 433px;
}
.delicacy .container .right button {
  width: 232px;
  height: 74px;
  border-radius: 163px;
  border: none;
  cursor: pointer;
  transition: all 300ms ease;
}
.delicacy .container .right button:hover {
  opacity: 85%;
}
.delicacy .container .right button:active {
  scale: 1.05;
}
.delicacy .container .right button {
  font-size: 20px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  background-color: #ff8a00;
  line-height: 200%;
  margin-top: 122px;
}

.our-menu {
  margin-top: 164px;
}
.our-menu .container {
  max-width: 1120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 10px;
  margin: 0 auto;
}
.our-menu .container .top h1 {
  font-family: "Tinos", serif;
  font-size: 80px;
  font-weight: 700;
  color: #311f09;
  line-height: 200%;
}
.our-menu .container .middle {
  display: flex;
  gap: 27px;
}
.our-menu .container .middle button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 162px;
  border: none;
  width: 192px;
  height: 74px;
  background-color: rgba(208, 204, 199, 0.1803921569);
  font-size: 20px;
  font-weight: 400;
  line-height: 200%;
  color: #311f09;
  font-family: "Poppins", sans-serif;
  margin-top: 60px;
}
.our-menu .container .middle .middle1 {
  width: 232px;
  height: 74px;
  border-radius: 162px;
  background-color: #311f09;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 200%;
}
.our-menu .container .menus {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.our-menu .container .menus .menu {
  width: 344px;
  height: 637px;
  border-radius: 70px;
  background-color: rgba(208, 204, 199, 0.1333333333);
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.our-menu .container .menus .menu h3 {
  font-size: 30px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #311f09;
  line-height: 100%;
}
.our-menu .container .menus .menu .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-right: 40px;
  margin-top: 25px;
}
.our-menu .container .menus .menu p {
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #59442b;
  line-height: 200%;
  width: 287px;
  text-align: center;
  margin-top: 15px;
}
.our-menu .container .menus .menu .buttons {
  display: flex;
  gap: 34px;
  align-items: center;
  margin-top: 25px;
}
.our-menu .container .menus .menu .buttons h3 {
  font-size: 25px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #311f09;
  line-height: 100%;
}
.our-menu .container .menus .menu .buttons button {
  width: 157px;
  height: 55px;
  border-radius: 162px;
  border: none;
  background-color: #ff8a00;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  line-height: 200%;
  cursor: pointer;
  transition: all 300ms ease;
}
.our-menu .container .menus .menu .buttons button:hover {
  opacity: 85%;
}
.our-menu .container .menus .menu .buttons button:active {
  scale: 1.05;
}
.our-menu .container .bottom {
  display: flex;
  gap: 30px;
  margin-top: 88px;
  margin-bottom: 200px;
}
.our-menu .container .bottom .left {
  display: flex;
}
.our-menu .container .bottom .left h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  color: #ffffff;
  background-color: #311f09;
  border-radius: 15px;
}
.our-menu .container .bottom .middle h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border-radius: 15px;
  background-color: rgba(255, 136, 0, 0.1647058824);
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #ff8a00;
}
.our-menu .container .bottom .middle .btn {
  background-color: white;
  color: #b7a28b;
  display: flex;
  align-items: center;
  justify-content: center;
}
.our-menu .container .bottom .right h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  color: #ffffff;
  background-color: #311f09;
  border-radius: 15px;
}

.table {
  background-color: #fff4e7;
  padding: 86px 0;
}
.table .container {
  max-width: 1542px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.table .container .left .images {
  position: relative;
}
.table .container .left .img1 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.table .container .left .img2 {
  position: absolute;
  top: 0;
  right: 100px;
}
.table .container .right {
  padding: 80px;
}
.table .container .right h1 {
  font-size: 80px;
  font-weight: 700;
  font-family: "Tinos", serif;
  color: #311f09;
  line-height: 110%;
  max-width: 453px;
}
.table .container .right h1 span {
  font-size: 80px;
  font-weight: 700;
  font-family: "Tinos", serif;
  color: #ff8a00;
  line-height: 110%;
}
.table .container .right p {
  font-size: 20px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #5c4529;
  line-height: 200%;
  margin-top: 50px;
  max-width: 443px;
}
.table .container .right button {
  width: 232px;
  height: 74px;
  border-radius: 163px;
  border: none;
  cursor: pointer;
  transition: all 300ms ease;
}
.table .container .right button:hover {
  opacity: 85%;
}
.table .container .right button:active {
  scale: 1.05;
}
.table .container .right button {
  background-color: #ff8a00;
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  margin-top: 132px;
}/*# sourceMappingURL=style.css.map */