@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$--font-family1: "Poppins", sans-serif;
$--font-family2: "Raleway", sans-serif;
$--font-family3: "Tinos", serif;

@mixin btn_size {
  width: 232px;
  height: 74px;
  border-radius: 163px;
  border: none;
  cursor: pointer;
  transition: all 300ms ease;
  &:hover {
    opacity: 85%;
  }
  &:active {
    scale: 1.05;
  }
}
// HEADER
header {
  padding-top: 51px;
  .container {
    max-width: 1257px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left {
      .logo1 {
        display: flex;
        align-items: center;
        gap: 18px;
        h3 {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 51px;
          height: 51px;
          border-radius: 50%;
          font-size: 25px;
          font-weight: 600;
          color: #ffffff;
          background-color: #ff8a00;
          font-family: $--font-family1;
        }
        h4 {
          font-family: $--font-family1;
          font-size: 14px;
          font-weight: 600;
          span {
            color: #ff8a00;
          }
        }
      }
    }
    .middle {
      ul {
        font-size: 14px;
        font-family: $--font-family1;
        display: flex;
        gap: 45px;
        list-style: none;

        li {
          font-family: $--font-family1;
          color: #311f09;
          &:hover {
            color: #ff8a00;
          }
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        // border: 1px solid red;
        border-radius: 50%;
        background-color: #d0ccc743;
        position: relative;
        margin-right: 25px;
        img {
        }
        .h3 {
          width: 16px;
          height: 16px;
          font-size: 10px;
          font-weight: 500;
          border: 1px solid red;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #ff3838;
          color: #ffffff;
          font-family: $--font-family1;
          position: absolute;
          top: 7px;
          right: 5px;
        }
      }
      button {
        width: 112px;
        height: 50px;
        border-radius: 133px;
        border: none;
        background-color: #3fa72f;
        color: #ffffff;
        font-family: $--font-family1;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        transition: all 300ms ease;
        &:hover {
          opacity: 85%;
        }
        &:active {
          scale: 1.05;
        }
      }
    }
  }
}

// HERO
.hero {
  margin-top: 120px;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1257px;
    padding: 0 10px;
    margin: 0 auto;

    .left {
      .text {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 152px;
        height: 40px;
        border-radius: 126px;
        background-color: #ff88002a;
        font-size: 18px;
        font-weight: 400;
        font-family: $--font-family2;
        color: #ff8a00;
      }
      h1 {
        font-size: 80px;
        font-weight: 700;
        font-family: $--font-family2;
        line-height: 110.00000000000001%;
        margin-top: 22px;
      }
      p {
        font-size: 20px;
        font-weight: 400;
        font-family: $--font-family1;
        color: #5c4529;
        line-height: 200%;
        margin-top: 30px;
        max-width: 523px;
      }
      .buttons {
        display: flex;
        gap: 23px;
        margin-top: 77px;
        button {
          @include btn_size();
          &:first-child {
            background-color: #ff8a00;
            font-size: 20px;
            font-weight: 600;
            font-family: $--font-family1;
            color: #ffffff;
          }
          &:last-child {
            background-color: #3fa72f;
            font-size: 20px;
            font-weight: 600;
            font-family: $--font-family1;
            color: #ffffff;
          }
        }
      }
    }
    .right {
      width: 700px;
      height: 620px;
      img {
        width: 100%;
        height: 100%;
        margin-top: 55px;
      }
    }
  }
}

// DELICACY
.delicacy {
  margin-top: 147px;
  background-color: #3fc66e22;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    padding: 0 10px;
    margin: 0 auto;

    .left {
      //   width: 706px;
      //   height: 689px;
      //   width: 100%;
      margin-top: 120px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .right {
      h1 {
        font-size: 80px;
        font-weight: 700;
        font-family: $--font-family3;
        color: #311f09;
        line-height: 110.00000000000001%;
        span {
          font-size: 80px;
          font-weight: 700;
          font-family: $--font-family3;
          color: #ff8a00;
          line-height: 110.00000000000001%;
        }
      }
      p {
        font-size: 20px;
        font-weight: 400;
        font-family: $--font-family1;
        color: #5c4529;
        line-height: 200%;
        margin-top: 60px;
        max-width: 433px;
      }
      button {
        @include btn_size();
        font-size: 20px;
        font-weight: 600;
        font-family: $--font-family1;
        color: #ffffff;
        background-color: #ff8a00;
        line-height: 200%;
        margin-top: 122px;
      }
    }
  }
}

// OUR MENU
.our-menu {
  margin-top: 164px;
  //   display: flex;

  .container {
    max-width: 1120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px;
    margin: 0 auto;
    .top {
      h1 {
        font-family: $--font-family3;
        font-size: 80px;
        font-weight: 700;
        color: #311f09;
        line-height: 200%;
      }
    }
    .middle {
      display: flex;
      gap: 27px;
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 162px;
        border: none;
        width: 192px;
        height: 74px;
        background-color: #d0ccc72e;
        font-size: 20px;
        font-weight: 400;
        line-height: 200%;
        color: #311f09;
        font-family: $--font-family1;
        margin-top: 60px;
      }

      .middle1 {
        width: 232px;
        height: 74px;
        border-radius: 162px;
        background-color: #311f09;
        color: #ffffff;
        font-family: $--font-family1;
        font-size: 20px;
        font-weight: 600;
        line-height: 200%;
      }
    }
    .menus {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;
      .menu {
        width: 344px;
        height: 637px;
        border-radius: 70px;
        background-color: #d0ccc722;
        margin-top: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        img {
        }
        h3 {
          font-size: 30px;
          font-weight: 600;
          font-family: $--font-family1;
          color: #311f09;
          line-height: 100%;
        }
        .logo {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 15px;
          margin-right: 40px;
          margin-top: 25px;
        }
        p {
          font-size: 14px;
          font-weight: 400;
          font-family: $--font-family1;
          color: #59442b;
          line-height: 200%;
          width: 287px;
          text-align: center;
          margin-top: 15px;
        }
        .buttons {
          display: flex;
          gap: 34px;
          align-items: center;
          margin-top: 25px;
          h3 {
            font-size: 25px;
            font-weight: 600;
            font-family: $--font-family1;
            color: #311f09;
            line-height: 100%;
          }
          button {
            width: 157px;
            height: 55px;
            border-radius: 162px;
            border: none;
            background-color: #ff8a00;
            color: #ffffff;
            font-size: 16px;
            font-weight: 600;
            font-family: $--font-family1;
            line-height: 200%;
            cursor: pointer;
            transition: all 300ms ease;
            &:hover {
              opacity: 85%;
            }
            &:active {
              scale: 1.05;
            }
          }
        }
      }
    }
    .bottom {
      display: flex;
      gap: 30px;
      margin-top: 88px;
      margin-bottom: 200px;
      .left {
        display: flex;
        // align-items: center;
        // // justify-content: space-between;
        h4 {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 55px;
          height: 55px;
          color: #ffffff;
          background-color: #311f09;
          border-radius: 15px;
        }
      }
      .middle {
        h3 {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 55px;
          height: 55px;
          border-radius: 15px;
          background-color: #ff88002a;
          font-size: 16px;
          font-weight: 600;
          font-family: $--font-family1;
          color: #ff8a00;
        }
        .btn {
          background-color: white;
          color: #b7a28b;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .right {
        h4 {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 55px;
          height: 55px;
          color: #ffffff;
          background-color: #311f09;
          border-radius: 15px;
        }
      }
    }
  }
}

// TABLE
.table {
  background-color: #fff4e7;
  padding: 86px 0;
  .container {
    max-width: 1542px;
    padding: 0 10px;
    // margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    .left {
      .images {
        position: relative;
        // border: 1px solid red;
      }
      .img1 {
        position: absolute;
        bottom: 0;
        left: 0;
      }
      .img2 {
        position: absolute;
        top: 0;
        right: 100px;
      }
    }
    .right {
      padding: 80px;
      h1 {
        font-size: 80px;
        font-weight: 700;
        font-family: $--font-family3;
        color: #311f09;
        line-height: 110.00000000000001%;
        max-width: 453px;
        span {
          font-size: 80px;
          font-weight: 700;
          font-family: $--font-family3;
          color: #ff8a00;
          line-height: 110.00000000000001%;
        }
      }
      p {
        font-size: 20px;
        font-weight: 400;
        font-family: $--font-family1;
        color: #5c4529;
        line-height: 200%;
        margin-top: 50px;
        max-width: 443px;
      }
      button {
        @include btn_size();
        background-color: #ff8a00;
        font-size: 20px;
        font-weight: 500;
        font-family: $--font-family1;
        color: #ffffff;
        margin-top: 132px;
      }
    }
  }
}

// OUR CHEF
.our-chef {
  padding: 175px 0 271px;
  .container {
    max-width: 1112px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .top {
      h1 {
        font-size: 80px;
        font-weight: 700;
        font-family: $--font-family3;
        color: #311f09;
        line-height: 200%;
      }
    }
    .middle {
      margin-top: 135px;
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      .element {
        // border: 1px solid red;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 100%;
        }
        h3 {
          font-size: 25px;
          font-weight: 600;
          font-family: $--font-family1;
          color: #311f09;
          line-height: 200%;
          margin-top: 40px;
        }
        p {
          font-size: 25px;
          font-weight: 400;
          font-family: $--font-family1;
          color: #a08d76;
          line-height: 200%;
          margin-top: 30px;
        }
      }
    }
    .bottom {
      button {
        width: 235px;
        height: 74px;
        border-radius: 162px;
        background-color: #ff8a00;
        font-size: 20px;
        font-weight: 500;
        font-family: $--font-family1;
        color: #ffffff;
        line-height: 200%;
        border: none;
        margin-top: 150px;
        cursor: pointer;
        transition: all 300ms ease;
        &:hover {
          opacity: 85%;
        }
        &:active {
          scale: 1.05;
        }
      }
    }
  }
}
